body {
    background: linear-gradient(45deg, #FF0080, #FF8C00, #40E0D0);
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    text-align: center;
    padding: 20px 0;
}

.heart-animation i {
    color: #FFF;
    font-size: 2em;
    text-shadow: 0 0 7px #FFF, 0 0 10px #FFF, 0 0 21px #FFF, 0 0 42px #FF0080, 0 0 82px #FF0080, 0 0 92px #FF0080, 0 0 102px #FF0080, 0 0 151px #FF0080;
}

h1 {
    color: #FFF;
    margin-top: 10px;
    text-shadow: 2px 2px 5px #000;
}

.reminder-list p, .reminder-list ol {
    text-align: center;
    font-size: 1.2em;
}

.reminder-list ol li {
    display: inline-block;
    margin: 0 10px;
    list-style-type: none;
    font-size: 1.1em;
    color: #FFF;
}

.spotify-playlist {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.image-gallery figure {
    text-align: center;
}

.image-gallery img {
    max-width: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

figcaption {
    font-style: italic;
    margin-top: 5px;
    color: #FFF;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 1em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .image-gallery img {
        max-width: 90%;
    }
}
